In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv('/Users/himanshumishra/Documents/SentimentAnalysis/tweet-sentiment-extraction/train.csv',
                   delimiter = ',')
test = pd.read_csv('/Users/himanshumishra/Documents/SentimentAnalysis/tweet-sentiment-extraction/test.csv',
                   delimiter = ',')

In [4]:
print(train.shape)
print(test.shape)

(27481, 4)
(3534, 3)

In [5]:
print(train.isnull().values.any())
print(test.isnull().values.any())

True
False

In [6]:
train.dropna(inplace = True)

In [7]:
print(train.isnull().values.any())
print(test.isnull().values.any())

False
False

In [8]:
train.head(5)

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [9]:
train.groupby('sentiment').count()

           textID   text  selected_text
sentiment
negative     7781   7781           7781
neutral     11117  11117          11117
positive     8582   8582           8582

In [10]:
train['sentiment'].value_counts(normalize = True)

neutral     0.404549
positive    0.312300
negative    0.283151
Name: sentiment, dtype: float64

In [11]:
def jaccard(str1,str2):
    a = set(str1.lower().split())
    b = set(str2.lower().split())
    c = a.intersection(b)
    return float(len(c)/ (len(a) + len(b) - len(c)))

In [12]:
results_jaccard=[]

for ind,row in train.iterrows():
    sentence1 = row.text
    sentence2 = row.selected_text

    jaccard_score = jaccard(sentence1,sentence2)
    results_jaccard.append([sentence1,sentence2,jaccard_score])

In [13]:
jaccard = pd.DataFrame(results_jaccard, columns = ["text", "selected_text", "jaccard_score"])

In [14]:
train = train.merge(jaccard, how = 'outer')
train.head()

,textID,text,selected_text,sentiment,jaccard_score
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,1.000000
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,0.200000
2,088c60f138,my boss is bullying me...,bullying me,negative,0.166667
3,9642c003ef,what interview! leave me alone,leave me alone,negative,0.600000
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,0.214286